<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title>Movie Director Guessing Game</title>
</head>
<body>
<div class="wrapper">
    <h1 class="page-title">Select Difficulty</h1>
    <h2 class = "nav"> <a th:href="@{/}"> Main menu</a>  </h2>
    <div class="main-container">
        <section class="menu">
            <div class="menu-item">
                <div class="button"><a href="/easy">Easy</a></div>
                <div class="button"><a href="/medium">Medium</a></div>
                <div class="button"><a href="/hard">Hard</a></div>
            </div>
        </section>
    </div>
</div>
</body>
</html>