<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title> Game Over </title>
</head>
    <body>
        <div class="wrapper">
            <h1 class="page-title"> Game Over </h1>
            <div class="main-container">
                <div class="menu">
                    <div class="menu-item">
                        <p> Your score was: <span th:text="${score}">your score</span> </p>
                        <div class="button"><a href="/">Main menu</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>