<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div>
        <h2>Game time!!!</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Their movie</th>
                <th>Random movie</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${director.name}"></td>
                <td th:text="${movie}"></td>
                <td th:text="${randomMovie}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>