<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div>
        <h2>Game time!!!</h2>
        <p>
            Lives: <span th:text="${lives}"></span> Score: <span th:text="${score}"></span>
            <br>
            Which movie did <span th:text="${director}">director name here</span> direct?
        </p>

        <form action="#" th:action="@{/checkAnswer}" method="GET">
            <input type="submit" name="action" th:value="${movie}"/>
            <input type="submit" name="action" th:value="${randomMovie}"/>
        </form>

    </div>
</body>
</html>