<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <h2>Main menu!</h2>
        <div class="main-container">
            <section class="hero">
                <div class="hero-area">
                    <div class="button"><a href="/game">Play</a></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>