<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title>Movie Director Guessing Game</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="page-title">Main menu!</h1>

        <div class="main-container">
            <div class="menu">
                <section class="menu-item">
                    <div class="button"><a href="/difficulty">Play</a></div>
                </section>

                <section class="menu-item">
                    <div class="login-leaderboard">
                        <div class="button"><a href="/login">Login</a></div>
                        <div class="button"><a href="/viewScoreboards">Leaderboards</a></div>
                    </div>
                </section>

                <section class="menu-item">
                    <div class="signup">
                        <h3>Don't have an account?</h3>
                        <h3>Register <a href="/signup"><b>HERE</b></a></h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>