<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title>Movie Director Guessing Game</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="page-title">Main menu!</h1>
        <div class="main-container">
            <section class="viewScores">
                <div class="menu-item">
                    <div class="button"><a href="/viewScoreboards">View scoreboards</a></div>
                </div>
            </section>

            <section class="signupLogin-container">
                <div class="menu-item">
                    <div class="button"><a href="/signup">Sign up</a></div>
                    <div class="button"><a href="/login">Login</a></div>
                </div>
            </section>

            <section class="menu">
                <div class="menu-item">
                    <div class="button"><a href="/difficulty">Play</a></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>