<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
    <title>Signup</title>
  </head>
  <body>
    <div class="menu">
      <h2>Signup for an account</h2>
      <h2 class = "nav"> <a th:href="@{/}"> Main menu</a>  </h2>
      <form action="#" th:action="@{/signup}" th:object="${user}"  method="post">
        <input type="text" name="username" id="username" th:field="*{username}"/>
        <input type="text" name="password" id="password" th:value="*{password}"/>
        <input type="submit" value="Sign up"/>
      </form>
    </div>
  </body>
</html>