<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
        <title>View scoreboards</title>
    </head>
    <h2 class = "nav"> <a th:href="@{/}"> Main menu</a>  </h2>
    <h2>All scores</h2>
    <body>
    <div class="menu">
        <div class="scoreboards">
            <div class="scoreboard">
                <span>Top ten hard mode scores</span>
                <table>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="score: ${topTenHard}">
                        <td th:text="${score.getUser()}">
                        <td th:text="${score.getPoints()}">
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="scoreboard">
                <span>Top ten medium mode scores</span>
                <table>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="score: ${topTenMedium}">
                        <td th:text="${score.getUser()}">
                        <td th:text="${score.getPoints()}">
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="scoreboard">
                <span>Top ten easy mode scores</span>
                <table>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="score: ${topTenEasy}">
                        <td th:text="${score.getUser()}">
                        <td th:text="${score.getPoints()}">
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>