<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:href="@{/css/styles.css}" />
        <title>View scoreboards</title>
    </head>
    <h2 class = "nav"> <a th:href="@{/}"> Main menu</a>  </h2>
    <h2>All scores</h2>
    <body>
    <div class="menu">
        <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Points</th>
                <th>Difficulty</th>
            </tr>
        <span>Top ten all time</span>
        </thead>
        <tbody>
            <tr th:each="score: ${scoresTopTenAll}">
                <td th:text="${score.getUser()}">
                <td th:text="${score.getPoints()}">
                <td th:text="${score.getDifficulty()}">
            </tr>
        </tbody>

        </table>
    </div>
    </body>
</html>